version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: servicehub_app
    volumes:
      - ./src:/var/www
    working_dir: /var/www
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: servicehub_nginx
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8
    container_name: servicehub_db
    environment:
      MYSQL_DATABASE: servicehub
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
